{% ckan_extends %}

{% set original_organization = organization or group %}
{% if not original_organization or not original_organization.image_display_url %}
  {% if pkg_dict is defined and pkg_dict.organization is defined %}
    {% set organization = pkg_dict.organization %}
  {% elif original_organization and original_organization.id %}
    {% set organization = h.get_organization_with_image(original_organization.id) %}
  {% endif %}
{% else %}
  {% set organization = original_organization %}
{% endif %}

{{ super() }}