{% extends "page.html" %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="{{ h.url_for('feedback.admin') }}">{{ _('Feedback Admin') }}</a> / <a href="{{ h.url_for('feedback.aggregation') }}">{{ _('Aggregation') }}</a></li>
{% endblock %}

{% block title %}{{ _('Aggregation') }} - CKAN{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h2>{{ _('Aggregation') }}</h2>
      <form action="{{ h.url_for('feedback.download_csv') }}" method="get">
        <div class="container" style="display: flex; align-items: center; gap: 8px;">
          <span style="font-size: 16px;">{{ _('Feedback monthly time series report') }}</span>
          <input type="month" name="start_month" id="startMonthPicker" style="font-size: 16px;" max="{{ max_month }}" value="{{ default_start_month}}">
          <span> ~ </span>
          <input type="month" name="end_month" id="endMonthPicker" style="font-size: 16px;" max="{{ max_month }}" value="{{ default_end_month}}">
          <button class="btn btn-primary" style="margin-left: auto;">
            <i class="fa-solid fa-arrow-circle-down"></i>
            {{ _('Download') }}
          </button>
        </div>
      </form>
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Aggregation') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          This is a management screen where you can download statistical data on the number of 'likes' and downloads on a monthly and yearly basis in CSV format.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}


{%- block scripts %}
  {{ super() }}
{% endblock %}