{% extends "page.html" %}

{% block styles %}
  {{ super() }}
  {% asset 'feedback/feedback-admin-css' %}
{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="{{ h.url_for('feedback.admin') }}">{{ _('Feedback Admin') }}</a> / <a href="{{ h.url_for('feedback.aggregation') }}">{{ _('Aggregation') }}</a></li>
{% endblock %}

{% block title %}{{ _('Aggregation') }} - CKAN{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <div class="module-title">
        <h2>{{ _('Aggregation') }}</h2>
      </div>
      <form action="{{ h.url_for('feedback.download_monthly') }}" method="get">
        <div class="download-item">
          <div style="display: flex; align-items: center; gap: 8px;">
            <div style="flex-grow: 1; display: flex; align-items: center; gap: 8px;">
              <span style="font-size: 16px;"><strong>{{ _('Feedback Monthly Report') }}</strong></span>
              <input type="month" name="month" id="monthPicker" style="font-size: 16px; margin-left: auto;" max="{{ max_month }}" value="{{ default_end_month }}">
            </div>
            <button class="btn btn-primary" style="margin-left: auto;">
              <i class="fa-solid fa-arrow-circle-down"></i>
              {{ _('Download') }}
            </button>
          </div>
          <p style="margin-top: 5px;">{{ _('The data is aggregated for the specified month and can be exported.') }}</p>
        </div>
      </form>
      <form action="{{ h.url_for('feedback.download_yearly') }}" method="get">
        <div class="download-item">
          <div style="display: flex; align-items: center; gap: 8px;">
            <div style="flex-grow: 1; display: flex; align-items: center; gap: 8px;">
              <span style="font-size: 16px;"><strong>{{ _('Feedback Yearly Report') }}</strong></span>
              <select id="yearSelect" name="year" style="font-size: 16px; margin-left: auto;">
                {% for year in range(2024, max_year + 1) %}
                  <option value="{{ year }}" {% if year == default_year %}selected{% endif %}>{{ year }}年</option>
                {% endfor %}
              </select>
            </div>
            <button class="btn btn-primary" style="margin-left: auto;">
              <i class="fa-solid fa-arrow-circle-down"></i>
              {{ _('Download') }}
            </button>
          </div>
          <p style="margin-top: 5px;">{{ _('The data is aggregated for the specified year from January 1 to December 31 and can be exported.') }}</p>
        </div>
      </form>
      <form action="{{ h.url_for('feedback.download_all_time') }}" method="get">
        <div class="download-item">
          <div style="display: flex; align-items: center; gap: 8px;">
            <span style="font-size: 16px;"><strong>{{ _('Feedback All-Time Report') }}</strong></span>
            <button class="btn btn-primary" style="margin-left: auto;">
              <i class="fa-solid fa-arrow-circle-down"></i>
              {{ _('Download') }}
            </button>
          </div>
          <p style="margin-top: 5px;">{{ _('The data is aggregated for all available periods and can be exported.') }}</p>
        </div>
      </form>
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Aggregation') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          A screen where users can download aggregated feedback data on organizational resources in CSV format.
        {% endtrans %}
        <br>
        <br>
        {% trans %}
          The exported CSV file is in UTF-8 with BOM format, intended to be opened in Microsoft Excel. If you are using an application other than Excel, please convert the format as needed.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}


{%- block scripts %}
  {{ super() }}
{% endblock %}