include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/feedback *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/feedback/migration *.ini *.py *.mako
