{% if h.is_enabled_resources() %}

  {% extends "package/base.html" %}

  {% block styles %}
    {{ super() }}
    {% asset 'feedback/feedback-comment-css' %}
  {% endblock %}

  {% block breadcrumb_content_selected %} class="inactive"{% endblock %}

  {% block title %}{{ _('Comment on Resource') }} - {{ pkg_dict.title }} - {{ resource.name }} - CKAN{% endblock %}

  {% block primary %}
    <div class="module-content">
      <div class="centered-content">
        <h2 class="bg-primary text-white p-2">{{ _('Suggested comment content') }}</h2>
        <br>
        <div class="wrap-text">
          <a>{{ _('Your input may be considered inappropriate.') }}</a><br>
          <a>{{ _('We will suggest a comment that relaxes the wording based on the input comments.') }}</a><br>
          <a>{{ _('Please select the comments you would like to submit.') }}</a><br>
          <a>{{ _('Potentially inappropriate wording: ') }}<span class="text-danger">{{ _('violent') }}</span></a><br>
        </div>
        <br>
        <br>
        <div class="comment" style="display: flex;">
          <h5 class="p-2" style="flex: 1;">{{ _('Input Comments') }}</h5>
          <h5 class="p-2" style="flex: 1;">{{ _('Proposal Comments') }}</h5>
        </div>

        <div class="comment-contents" style="display: flex; gap: 10px;">
          <textarea class="p-2" style="flex: 1; height: 400px; width: 100%; resize: none; overflow: hidden; border-radius: 10px;">{{ _('The person in charge of providing this data is really incompetent. Can\'t they do something as simple as this?') }}</textarea>
          <textarea class="p-2" style="flex: 1; height: 400px; width: 100%; resize: none; overflow: hidden; border-radius: 10px;">{{ _('Perhaps the person in charge of providing this data needs to be a little more creative. There may have been an easier way to handle this.') }}</textarea>
        </div>
        <br>

        <!-- </div>
        <div class="comment-contents" style="display: flex;">
          <div class="input-comments m-2 p-3" style="flex: 1; border: 1px solid black; border-radius: 10px;">
            <textarea style="height: 400px; width: 100%; resize: none; border: none; overflow: hidden;">{{ _('The person in charge of providing this data is really incompetent. Can\'t they do something as simple as this?') }}</textarea>
          </div>
          <div class="proposal-comments m-2 p-3" style="flex: 1; border: 1px solid black; border-radius: 10px;">
            <textarea style="height: 400px; width: 100%; resize: none; border: none; overflow: hidden;">{{ _('Perhaps the person in charge of providing this data needs to be a little more creative. There may have been an easier way to handle this.') }}</textarea>
          </div>
        </div> -->

        <!-- <div class="comment-contents" style="display: flex;">
          <div class="input-comments m-2 p-3" style="flex: 1; border: 1px solid black; border-radius: 10px;">
            <h5>{{ _('Input Comments') }}</h5>
            <div class="input-comment-contents">
              <textarea style="height: 400px; width: 100%; resize: none; border: none; overflow: hidden;">{{ _('The person in charge of providing this data is really incompetent. Can\'t they do something as simple as this?') }}</textarea>
            </div>
          </div>
          <div class="proposal-comments m-2 p-3" style="flex: 1; border: 1px solid black; border-radius: 10px;">
            <h5>{{ _('Proposal Comments') }}</h5>
            <div class="proposal-comment-contents">
              <textarea style="height: 400px; width: 100%; resize: none; border: none; overflow: hidden;">{{ _('Perhaps the person in charge of providing this data needs to be a little more creative. There may have been an easier way to handle this.') }}</textarea>
            </div>
          </div>
        </div> -->

        <div class="button" style="display: flex; flex-direction: column; align-items: stretch;">
          <div class="select-button ml-2" style="display: flex; gap: 10px; flex: 1;">
            <button class="input-comment-select btn btn-primary" style="flex: 1; display: flex; align-items: center; justify-content: center; text-align: center;">{{ _('Post input comments >') }}</button>
            <button class="proposal-comment-select btn btn-primary" style="flex: 1; display: flex; align-items: center; justify-content: center; text-align: center;">{{ _('Post proposal Comments >') }}</button>
          </div>
          <br>
          <div class="return-button ml-2" style="display: flex; justify-content: center;">
            <button class="btn btn-light" style="width: 50%; display: flex; align-items: center; justify-content: center; text-align: center;">{{ _('< return') }}</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock -%}

  {% block secondary %}{% endblock %}

  {%- block scripts %}
    {{ super() }}
    {% asset 'feedback/feedback-comment-js' %}
    {% if h.is_enabled_feedback_recaptcha() %}
      <script src="https://www.google.com/recaptcha/api.js?render={{ h.get_feedback_recaptcha_publickey() }}"></script>
      <script>
        const feedbackRecaptchaTargetForm = 'comment_form'
        const feedbackRecaptchaAction = 'resource_comment'
        const feedbackRecaptchaPublickey = '{{ h.get_feedback_recaptcha_publickey() }}'
      </script>
      {% asset 'feedback/feedback-recaptcha-js'%}
    {% endif %}
  {% endblock -%}

{% endif %}
